
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WatchTranslations</title>
		<!-- External CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}material-icons.css">
		<link rel="stylesheet" href="{{config.STATIC_URL}}materialize.min.css">

		<!-- My CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}stylesheet.css">
	  {% block head %}{% endblock %}
	</head>
	<body>
				{% if logged %}
				<nav class="light-blue lighten-1" role="navigation">
					<div class="nav-wrapper container">
						<a class="brand-logo" href="{{config.APPLICATION_ROOT}}">WatchTranslations</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?project=watchtranslations">{{ _('report-bug') }}</a></li>
							<li><a href="logout">{{ _('logout') }}</a></li>
							<li id="username">{{username}}</li>
						</ul>
					</div>
				</nav>
				{% else %}
				<nav class="light-blue lighten-1" role="navigation">
					<div class="nav-wrapper container">
						<a class="brand-logo" href="{{config.APPLICATION_ROOT}}">WatchTranslations</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?project=watchtranslations">{{ _('report-bug') }}</a></li>
							<li><a href="login">{{ _('login') }}</a></li>
						</ul>
					</div>
				</nav>
				{% endif %}
		{% with messages = get_flashed_messages() %}
		<div class="container error-container">
			{% if messages %}
			{% for message in messages %}
			</br>
			<div class="alert alert-info">{{ message }}</div>
			{% endfor %}
			{% endif %}
		</div>
		{% endwith %}
        {% block content %}{% endblock %}
	</body>
</html>
