{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        <input type="hidden" name="type" value="edit">
        <label for="watch-group">{{ _("select-group") }}</label>
        <input class="form-control" type="text" name="group" id="watch-group" {% if translation.group %}value="{{translation.group}}"{% endif %} list="watch-group-datalist">
        <datalist id="watch-group-datalist">
            {% for group in messagegroups %}
            <option value="{{group.id}}">{{group.label}}</option>
            {% endfor %}
        </datalist>
        <label for="watch-language">{{ _("select-language") }}</label>
        <input type="text" name="language" list="watch-language-list" {% if translation.language %}value="{{translation.language}}"{% endif %} class="form-control" id="watch-language">
        <datalist name="language" id="watch-language-list">
            {% for lang in languages %}
            <option value="{{lang}}">{{lang}} - {{languages[lang].name}}</option>
            {% endfor %}
        </datalist>
        <input class="btn btn-primary form-control" type="submit" value="{{ _("confirm") }}">
    </form>
    <form method="post">
        <input type="hidden" name="type" value="delete">
        <input type="submit" value="{{ _("delete") }}" class="btn btn-secondary btn-danger form-control">
    </form>
</div>
{% endblock %}
