<head>
    <style>
        body {
            font-family: Segoe UI;
            font-size: 16px;
        }

        footer {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <b>Hi {{username}},</b><br>
    There are new phrases awaiting review at TranslateWiki:<br>
    {{notifications|safe}}<br>
    <hr>
    <footer>
        You are receiving this email because you signed up for notifications at the <a href="{{project}}">Watch-Translations</a> project.<br>
        You can change your preferences <a href="{{project}}preferences">here.</a>
    </footer>
</body>