{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if translations.count() > 0 %}
        <h2>{{ _("you-watch") }}</h2>
        <ul>
            {% for translation in translations %}
            <li><a href="edit/{{translation.id}}">{{get_friendly_name(messagegroups, translation.group)}} <span class="grayspan" data-toggle="tooltip" data-placement="top" title="{{languages[translation.language].name}}">({{translation.language}})</span></a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>{{ _("none-currently-watched-header") }}</h2>
        <p>
            {{ _("none-currently-watched") }}
        </p>
    {% endif %}
    <a href="edit/new" class="btn btn-primary active" role="button">{{ _("watch-new") }}</a>
</div>
{% endblock %}
