{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if translations.count() > 0 %}
        <h2>{{ _("you-watch") }}</h2>
        <ul>
            {% for translation in translations %}
            <li><a href="edit/{{translation.id}}">{{get_friendly_name(messagegroups, translation.group)}} <span class="grayspan" data-toggle="tooltip" data-placement="top" title="{{languages[translation.language].name}}">({{translation.language}})</span></a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>{{ _("none-currently-watched-header") }}</h2>
        <p>
            {{ _("none-currently-watched") }}
        </p>
    {% endif %}

    <div class="row">
        <div class="col-sm">
            <a href="edit/new" class="btn btn-primary form-control" role="button">{{ _("watch-new") }}</a>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-danger form-control" data-toggle="modal" data-target="#dropAll">{{ _("delete-all") }}</button>

            <div class="modal fade" id="dropAll" tabindex="-1" role="dialog" aria-labelledby="dropAllLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dropAllLabel">{{ _("delete-all-title") }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">{{ _("delete-all-body") }}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("cancel") }}</button>
                            <form method="post" action="{{ url_for('delete_all') }}">
                                <input type="hidden" name="type" value="delete">
                                <input type="submit" value="{{ _("delete-all") }}" class="btn btn-secondary btn-danger">
                            </form>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
