{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ _("you-watch") }}</h2>
    <ul>
        {% for translation in translations %}
        <li><a href="edit/{{translation.id}}">{{get_friendly_name(messagegroups, translation.group)}} <span class="grayspan" data-toggle="tooltip" data-placement="top" title="{{languages[translation.language].name}}">({{translation.language}})</span></a></li>
        {% endfor %}
    </ul>
    <a href="edit/new" class="btn btn-primary active" role="button">{{ _("watch-new") }}</a>
</div>
{% endblock %}
